apiVersion: v1
kind: Service
metadata:
  name: gitlab
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: gitlab
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 32081
    - name: ssh
      port: 22
      targetPort: 22
      nodePort: 32022