apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: registry
  ports:
    - name: https
      port: 5000
      targetPort: 5000
      nodePort: 32500